<!doctype html>
<html lang="en" ng-app="application">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{$state.current.name}}</title>
    <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="./assets/js/foundation.js"></script>
    <script src="./assets/js/templates.js"></script>
    <script src="./assets/js/routes.js"></script>
    <script src="./assets/js/app.js"></script>
</head>
<body>
<div class="grid-frame vertical">
    <div class="grid-content shrink" style="padding: 0;">
        <div class="menu-group primary">
            <div class="menu-group-left">
                <img src="assets/img/github.png" alt="github users"/>
                <h1 class="white">
                    Github Users
                </h1>
            </div>
            <div class="menu-group-right">
                <ul class="menu-bar primary">
                    <li ui-sref-active-eq="active"><a ui-sref="Home">Home</a></li>
                    <li ui-sref-active-eq="active"><a ui-sref="About">About</a></li>
                    <li ui-sref-active-eq="active"><a ui-sref="Users">Users</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ui-view class="grid-block">
    </div>
</div>
</body>
</html>
