@import "settings";
@import "foundation";

.menu-group {
  img {
    max-height: 5rem;
    margin: 1rem;
    float: left;
  }
  h1 {
    line-height: 5rem;
    margin: 1rem 0;
    float: left;
    color: #ffffff;
  }
  .menu-bar {
    > li {
      > a {
        padding: 3rem ;
      }
    }
    > li.active {
      > a {
        background: #0065a5;
        color: #fff;
      }
    }
  }
}
