---
name: Users
url: /users/:id?p=
controller: UsersCtrl
---

<div class="grid-content medium-4">

    <ul class="menu-bar vertical">
        <li ng-repeat="user in users">
            <a ui-sref="Users({ id:( user.id ) })">
                {{user.login }}
            </a>
        </li>
    </ul>


</div>
<div class="grid-content medium-8">
    <div ng-show="user">
        <div class="grid-block">
            <div class="grid-content medium-2">
                <img src="{{user.avatar_url}}">
            </div>
            <div class="grid-content medium-10">
                <div class="vertical">
                    <div class="grid-content">
                        <h3 ng-show="user.login"> {{user.login}}</h3>
                        <h1 ng-show="user.name">
                            {{user.name}}
                        </h1>
                        <h6 ng-show="user.email">
                            <strong>
                                User Email:
                            </strong>
                            {{user.email}}
                        </h6>
                        <h6 ng-show="user.created_at">
                            <strong>
                                Created at:
                            </strong>
                            {{user.created_at}}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="!user" class="grid-block">
        <div class="grid-content ">
            <h1>
                Invalid User Id
            </h1>
        </div>
    </div>


</div>



